.character-list-item {
  border: var(--primary-color) solid .5px;
}

.character-name {
  
  font-size: 2em;
  margin-left: 3px;
  margin-right: -3px;
}

.trash-button {
  background-color: #00000000;
  border: none;
  color: var(--primary);
  font-size: 1em;
  transition: transform 0.3s ease;
}

.trash-button:hover {
  transform: scale(1.05);
  background-color: #00000000;
  border: none;
}



a {
  display: contents; /* Makes the link itself disappear, while keeping its children visible */
  text-decoration: none;
  color: inherit;
}

.hover-link {
  display: inline-block; /* Allows transform scaling */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color */
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.hover-link:hover {
  transform: scale(1.05); /* Zooms slightly on hover */
}
