@import "../../variables.scss";
.navbar {
  background-color: var(--dark-color) !important;
  color: var(--primary-color) !important;
  padding: 0;
  font-size: 1.5em;
}

.logo {
  width: 100px;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dropdown-toggle {
  color: var(--primary-color) !important;
}

.dropdown-menu {
  background: var(--secondary-gradient-transparent) !important;
  box-shadow: 0 0 10px var(--primary-color) !important;
  font-size: 1.5rem;
}

.dropdown-item {
  color: var(--primary-color) !important;
}

.dropdown-item:hover {
  color: var(--dark-color) !important; /* Color on hover */
  background-color: var(--primary-color) !important;
}

.dropdown-item.active {
  color: var(--dark-color) !important; /* Color on active */
  background-color: var(--primary-color) !important;
}

.offcanvas {
  background-color: var(--dark-color) !important;
  color: var(--primary-color) !important;
}

.offcanvas-header {
  color: var(--secondary-color) !important;
}

.btn-close {
  background-color: var(--primary-color) !important;
}

.navbar-link {
  color: var(--primary-color) !important;
}

/* Default styling for small screens (logout link does not have margin-auto) */
.logout-item {
  margin-left: 0;
}

/* Medium and larger screens */
@media (min-width: 768px) {
  .logout-item {
    margin-left: auto; /* Apply margin-left auto for larger screens */
  }
}

.dropdown-menu .dropdown-item {
  display: block !important; /* Ensure block-level items */
  width: 100%; /* Optional: make them span the width */
}
